@{
    ViewBag.Ver = "v.2.0.2";
}

<div id="footer">
    <div class="bar">
        <div class="left">
            &copy; @DateTime.Now.Year Chan Wanich Co.,Ltd. System Integration Company 
        </div>
        <div class="right">
@*            @if(Request.IsAuthenticated)
            {
                <text><button class="btn btn-xs" style="height: 17px; font-size: 10px;" id="cmdFeedback" title="feedback"><i class="glyphicon glyphicon-comment"></i></button> | </text>
            }*@
            @ViewBag.Ver | Recommended : Chrome 34+, Internet Explorer 10, Firefox 29+ | Resolution: 1280 x 768
        </div>
    </div>
</div>