@{
    Layout = "~/Views/Shared/_LayoutChangePassword.cshtml";
    ViewBag.Title = "Change Password Success";
}

<div class="container">
    <div class="jumbotron">
        <h2 style="text-align:center; padding-bottom: 20px;">เปลี่ยนรหัสเข้าระบบใหม่เสร็จสมบูรณ์</h2>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a class="btn btn-lg btn-block btn-success" href="@Url.Action("Index", "Home")" role="button"><i class="glyphicon glyphicon-home"></i>&nbsp;OK</a>
		</div>
	</div>
    </div>
</div>